@font-face {
  font-family: 'Nunito';
  src: url('../public/fonts/Nunito-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: 'Nunito', sans-serif; /* Use fallback in case the font doesn't load */

}
