@font-face {
  font-family: "Nunito";
  src: url("fonts/Nunito-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: "Nunito"; /* Use fallback in case the font doesn't load */
}

