@font-face {
    font-family: 'Nunito';
    src: url('../public/fonts/Nunito-Regular.ttf');
  }
  
  body, html {
    font-family: 'Nunito', sans-serif; /* Use fallback in case the font doesn't load */

  };
  
  